@layout LoginLayout
@inherits LayoutComponentBase

<center>
    <div class="col-8">
        <div class="container" style="width:500px">
            <div class="col-12">
                <img  src="../img/BfiechIS.jpg"/>
            </div>
            <div class="col-12">
                @Body
            </div>
        </div>
    </div>
</center>